.cards {
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* background: red; */
  flex-wrap: wrap;
}

.eventtitle {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

@media (max-width: 767px) {
  .navbar h2{
    font-size: 15px;
  }
  .cards {
    grid-template-columns: 1fr;
  }
}
