.contribute{
    background: rgb(33, 33, 33);
    color: #fff;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
